 <!-- <div class="b-example-divider"></div> -->
 <header class="p-3 mb-3 border-bottom">
   <div class="container-1">
     <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
       <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
         <img src="../../assets/Techy.png" width="80" height="80" alt="Techy Designs">
       </a>


       <ul class="nav nav-pills nav-fill">
         <li class="nav-item">
           <a class="nav-link " aria-current="page" href="#" [routerLink]="['/home']"
             routerLinkActive="router-link-active">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link " href="#" [routerLink]="['/demo/chat-with-support-bot']"
             routerLinkActive="router-link-active">Chat Now</a>
         </li>

       </ul>



     </div>
   </div>
 </header>
 <div class="b-example-divider"></div>
