<div class="container">

  <div>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-white rounded ">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>The OpenAI API can be applied to virtually any task that
            involves
            understanding or generating natural language or code. We offer a spectrum of models with different levels of
            power
            suitable for different tasks, as well as the ability to fine-tune your own custom models. These models can
            be
            used
            for everything from content generation to semantic search and classification.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Chat GPT-3<cite title="Source Title">OpenAI API</cite>
        </figcaption>
      </figure>
    </div>

  </div>
  <br><br>
  <div>
    <p style="font-size: larger; text-align: center;">
      To experience and see the power of AI, click <a href="#" [routerLink]="['/demo/chat-with-support-bot']"
        routerLinkActive="router-link-active">LIVE DEMO</a>
    </p>
  </div>
</div>
